@model List<Category>

@section title {
    <h1>Welcome to Category Page!</h1>
}

@if(Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <th> Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    @* <td><a class="btn btn-link" href="@($"/categories/edit/{category.CategoryId}")" >Edit</a></td> *@
                    <td><a class="btn btn-link" asp-controller="categories" asp-action="edit" asp-route-id="@category.CategoryId" >Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="categories" asp-action="delete" asp-route-id="@category.CategoryId" onclick="return confirmDelete()">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <br />
<a class="btn btn-primary" asp-controller="categories" asp-action="Add"> Add </a>
}

@section Scripts{
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this category?")
        }
    </script>
}
